html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #151313;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
  text-decoration: none;
}

/*Границы блоков*/

/*.a,
.b,
.c,
.d,
.e,
.f,
.g,
.h {
  border-width: 1px;
  border-style: solid;
}

.a {
  border-color: navy;
}

.b {
  border-color: teal;
}

.c {
  border-color: aqua;
}

.d {
  border-color: green;
}

.e {
  border-color: lime;
}

.f {
  border-color: olive;
}

.g {
  border-color: yellow;
}

.h {
  border-color: red;
}*/

/*границы блоков*/

.visually-hidden {
	display: none;
}

.container {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding: 80px;
}

@media (max-width: 1023px) {
  .container {
    width: auto;
    margin: 0;
    padding: 0 25px; 
  }
}

/* Slider start*/

.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.slider__slide {
  position: relative;
  width: 100%;
  height: 100%;
  transition-property: transform;
}

.slider__button {
  z-index: 5;
  display: block;
  width: 14px;
  height: 31px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767px) {
  .slider__button {
    width: 9px;
    height: 18px;
  }
}

.slider__button--prev,
.slider__button--next {
  position: absolute;
  top: 50%;
}

.slider__button--prev {
  left: 0;
  background-image: url(../img/svg/slider-button-prev.svg);
}

.slider__button--next {
  right: 0;
  background-image: url(../img/svg/slider-button-next.svg);
}

/* Slider end */

.gallery__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 21px;
}

@media (max-width: 1023px) {
  .gallery__wrapper {
    display: block;
    padding-top: 101px;
  }
}

@media (max-width: 767px) {
  .gallery__wrapper {
    padding-top: 53px;
  }
}

.gallery__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 1023px) {
  .gallery__title {
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .gallery__title {
    font-size: 28px;
    line-height: 32px;
  }
}

.gallery__lead {
  margin-bottom: 42px;
  max-width: 523px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #A07B50;
}

@media (max-width: 1023px) {
  .gallery__lead {
    margin: 0 auto 43px;
  }
}

@media (max-width: 767px) {
  .gallery__lead {
    margin-bottom: 30px;
    line-height: 144%;
    font-size: 14px;
  }
}

.gallery__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 259px;
  margin-bottom: 44px;
}

@media (max-width: 1023px) {
  .gallery__list {
    width: 36%;
    margin: 0 auto 38px;
  }
}

@media (max-width: 767px) {
  .gallery__list {
    max-width: 300px;
    width: 80%;
    margin-bottom: 38px;
  }
}

.gallery__item {
  margin-right: auto;
}

.gallery__item:last-child {
  margin-right: 0;  
}

.gallery__tab {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: white;
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 0.3 ease-out;
}

.gallery__tab--active {
  opacity: 1;
}

.gallery__tab:hover,
.gallery__tab:focus {
  opacity: 1;
}

.gallery__tab-content {
  display: none;
  margin-bottom: 56px;
}

@media (max-width: 1023px) {
  .gallery__tab-content {
    width: 100%;
    margin: 0 auto 56px;
    padding: 0 39px;
  }
}

@media (max-width: 767px) {
  .gallery__tab-content {
    width: 100%;
    max-width: 500px;
    padding: 0;
    margin-bottom: 42px;
  }
}

.gallery__tab-content button {
  display: none;
  margin: 0;
}

@media (max-width: 1023px) {
  .gallery__tab-content button {
    display: block;
    top: 50%;
  }
}

@media (max-width: 1023px) {
  .gallery__slider {
    position: relative;
    max-width: 768px;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .gallery__slider {
    position: relative;
    width: calc(100% - 60px);
    overflow: hidden;
  }
}

.cats {
  display: block;
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  column-count: 2;
  column-gap: 36px;
}

@media (max-width: 1023px) {
  .cats {
    display: flex;
    height: 490px;
    column-count: 1;
    column-gap: 0;
  }
}

@media (max-width: 767px) {
  .cats {
    width: 100%;
    height: 100%;
  }
}

.cats__item {
  flex-shrink: 1;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

.cats__item--top {
  margin-bottom: 36px;
  height: 227px;
}

@media (max-width: 1023px) {
  .cats__item--top {
    margin-bottom: 0;
  }
}

.cats__item--bottom {
  height: 227px;
}

.cats__item--large {
  height: 490px;
}

.cats__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1023px) {
  .cats__item {
    flex-shrink: 0;
    position: relative;
    display: block;
    width: 768px;
    height: auto;
    max-height: 1000px;
    transition: height 0.3s ease-out, margin-top 0.3s ease-out;
  }
}

.gallery__tab-content-wrapper {
  width: 100%;
}

.gallery__btn-wrapper {
  width: 100%;
}

.gallery__btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 18px;
  width: 200px;
  cursor: pointer;
  border: 1px solid #a07b50;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease-out, border 0.3s ease-out;
}

.show {
  display: block;
}